/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, 
    Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Utility */
.w-25 {
    width: 25vw;
}

.w-50 {
    width: 50vw;
}

.w-55 {
    width: 55vw;
}

.w-45 {
    width: 45vw;
}

.vertical-center{
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.left-float {
    float: left;
}

.clearfix {
    clear: both;
}

.button {
    display: inline-block;

    border-radius: 20px;
    line-height: 35px;
    padding: 2px 15px;
}

/* Color property */
.text-white {
    color: white;
}

.text-black {
    color: black;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.gray {
    background-color: rgb(246, 246, 246);
}

.purple {
    background-color: rgb(143, 162, 223);
}

/* Header */
.navigazione {
    height: 80px;
    line-height: 80px;
    background-color: rgba(47, 98, 221, 1);
}

.navigazione ul {
    list-style: none;
    height: 80px;
}

.navigazione ul li {
    display: inline-block;
    margin: 0 10px;
}

.spotlight {
    position: relative;
    height: 550px;
    background-image: url(../img/img/jumbo.png);
    background-position: center;
    background-size: cover;
}

.spotlight .cul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.spotlight h1 {
    font-size: 55px;
    margin: 20px;
}

.spotlight p {
    line-height: 20px;
    margin: 20px;
}

.spotlight .button {
    margin: 0 10px;
}

.button .fa-arrow-down {
    margin-right: 10px;
}

/* Main */
.horizontal {
    height: 800px;
}

.horizontal .cul {
    height: 100%;
    position: relative;
}

.horizontal-text {
    position: absolute;
    width: 350px;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.horizontal-text h2, .square-text h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.horizontal-text p, .square-text p {
    line-height: 30px;
    font-size: 20px;
}

.horizontal img {
    height: 400px;
    position: absolute;

    top: 50%;
    right: 0%;
    transform: translate(0,-50%);
}

.horizontal:nth-of-type(2) img {
    left: 0%;
}

.square {
    height: 1150px;
}

.square-text{
    display: inline-block;
    width: 1000px;

    margin: 30px 0;
}

.square img {
    height: 650px;
    margin: 30px 0;
}

.square h3 {
    font-size: 25px;
    margin: 30px 0;
}