/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, 
    Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* General */
.button {
    display: inline-block;

    border-radius: 20px;
    line-height: 35px;
    padding: 2px 15px;
}

/* Position/dimension property*/
.w-25 {
    width: 25vw;
}

.w-45 {
    width: 45vw;
}

.w-50 {
    width: 50vw;
}

.w-55 {
    width: 55vw;
}

.w-25p {
    width: 25%;
}

.w-30p {
    width: 30%;
}

.w-70p {
    width: 70%;
}

.vertical-center{
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.left-float {
    float: left;
}

.clearfix {
    clear: both;
}

/* Color property */
.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-purple {
    color: rgb(115, 139, 215);
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.gray {
    background-color: rgb(246, 246, 246);
}

.purple {
    background-color: rgb(143, 162, 223);
}

/* Header */
.navigazione {
    height: 80px;
    line-height: 80px;
    background-color: rgba(47, 98, 221, 1);
}

.navigazione ul {
    list-style: none;
    height: 80px;
}

.navigazione ul li {
    display: inline-block;
    margin: 0 10px;
}

.spotlight {
    position: relative;
    height: 550px;
    background-image: url(../img/img/jumbo.png);
    background-position: center;
    background-size: cover;
}

.spotlight .cul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.spotlight h1 {
    font-size: 55px;
    margin: 20px;
}

.spotlight p {
    line-height: 20px;
    margin: 20px;
}

.spotlight .button {
    margin: 0 10px;
}

.button .fa-arrow-down {
    margin-right: 10px;
}

/* Main */
.horizontal {
    height: 800px;
    position: relative;
}

.horizontal .cul {
    height: 100%;
    position: relative;
}

.horizontal-text {
    position: absolute;
    width: 350px;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.horizontal-text h2, .square-text h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.horizontal-text p, .square-text p {
    line-height: 30px;
    font-size: 20px;
}

.horizontal .cul img {
    height: 400px;
    position: absolute;

    top: 50%;
    right: 0%;
    transform: translate(0,-50%);
}

.horizontal:nth-of-type(2) img {
    left: 0%;
}

.horizontal .wave {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
}

.square {
    height: 1150px;
}

.square-text{
    display: inline-block;
    width: 1000px;

    margin: 30px 0;
}

.square img:first-of-type {
    height: 650px;
    margin: 30px 0;
}

.square h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

/* Footer */
footer {
    background-color: rgb(35, 39, 42);
    padding: 70px 0;
}

.container-footer {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.container-footer h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.container-footer .cul:first-of-type img {
    height: 20px;
    margin-right: 5px;
}

.container-footer .cul:first-of-type div {
    line-height: 50px;
    font-size: 25px;
}

.container-footer .cul:first-of-type .fab {
    margin: 0 10px;
}

.container-footer .cul:first-of-type .fab:first-of-type {
    margin-left: 0;
}

.container-footer .cul:nth-of-type(2){
    padding-left: 50px;
    margin-bottom: 20px;
}

footer nav ul {
    list-style: none;
    line-height: 45px;
}

footer hr {
    border-color: rgb(143, 162, 223);
    margin: 20px 0;
}

footer .button {
    position: absolute;
    right: 0;
}